
services:
  db:
    image: postgres:16
    container_name: aluga-db
    restart: always
    env_file:
      - .env.docker
    environment:
      POSTGRES_USER: ${USER_DB}
      POSTGRES_PASSWORD: ${USER_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${USER_DB} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: aluga-api
    restart: always
    env_file:
      - .env.docker
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

volumes:
  postgres_data:

